<ion-view title="App Piamed">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list class="list">
      <ion-item class="item item-icon-left" nav-clear menu-close href="#/app/interacciones">
        <i class="icon ion-search"></i>
          Interacciones
      </ion-item>
      <ion-item class="item item-icon-left" nav-clear menu-close href="#/app/plantas_medicinales">
          <i class="icon ion-search"></i>
          Plantas Medicinales
      </ion-item>
      <ion-item class="item item-icon-left" nav-clear menu-close href="#/app/alertas">
          <i class="icon ion-search"></i>
          Alertas
      </ion-item>
      <ion-item class="item item-icon-left" nav-clear menu-close href="#/app/embarazo_y_lactancia">
          <i class="icon ion-search"></i>
          Embarazo y Lactancia
      </ion-item>  
    </ion-list>
  </ion-content>
</ion-view>